/* MOBILE RESPONSIVE */
@media only screen and (max-width: 625px) {
  * {
    max-width: 100%;
  }
  /* navbar */
  #navbar {
    background-color: #18454B;
  }
  nav.container{
    width: 100%;

  }
  .navbar-toggler {
    color: white;
    top: 0;
  }
  .navbar-nav, .navbar-item {

  }
  .navbar-brand img {
    width: 120px;
  }
  .right-navbar a{

  }

  .intro {
    width: 100%;
    background-color: rgba(24,69,75,.5);
    background: url('images/mobile-background.jpg'), linear-gradient(to bottom, rgb(24,69,75) 30%, rgb(24, 69, 75) 100% );
    background-size:contain;
    background-repeat: no-repeat;
    height: auto;
    height: 500px;
  }
  .intro h1 {
    padding-top: 50px;
    font-size: 1.4em;
  }
  .intro h4 {
    font-size: .7em;
  }
  /* about */
  .about {
    width: 100%;
    height: auto;
  }
  .col-sm-6 {
    width: 100% !important;
  }
  #about .row {
    width: 100% !important;
  }
  .video {
    width: 100%;
  }
  .video img {
    width: 100% !important;
  }
  .about p, .about h3 {
    padding: 50px 10px 50px 30px;
    font-size: .8em;
  }




  .about-sc {

  }
  .about-sc .divider {
    margin-bottom: 85px !important;
  }
  .about-sc img {
    display: block;
    margin: 0 auto;
  }
  .about-sc strong {
    padding-top: 5px;
  }


  .about-last {
    width: 100%;
    min-height: 450px;
    max-height: 500px;
    padding: 10px;
  }
  .about-last-text {
    width: 100%;
  }
  .about-sc .divider2 {
    margin-bottom: 30px !important;
  }
  .about-last h2 {

  }
  .about-last p {
    padding: 0;
    font-size: 1em;
  }

  /* gallery */
  .gallery {
    display: none;
  }

  /* SERVICE */
  .mservice {
    width: 100%;
    margin: 10px auto 10px 30px;
  }




  /* TEAM */
  .teams {
    width: 100%;
    margin: 0 auto;
  }



  /* FOOTER */
  footer {
    width: 100%;
    height: auto;

  }
  .footer {
    margin: 50px auto;
  }
  .footer-wrapper {
    width: 90%;
  }
  .footer img {
    width: 100%;
  }




}


@media only screen and (max-width: 1100px) and (min-width: 625px) {
  /* about */
  .about {
    width: 100%;
    height: auto;
  }
  .col-sm-6 {
    width: 100% !important;
  }
  #about .row {
    width: 100% !important;
  }
  .video {
    width: 100%;
  }
  .video img {
    width: 100% !important;
  }
  .about p, .about h3 {
    padding: 50px 10px 50px 30px;
    font-size: .8em;
  }



  .about-sc {

  }
  .about-sc .divider {
    margin-bottom: 85px !important;
  }
  .about-sc img {
    display: block;
    margin: 0 auto;
  }
  .about-sc strong {
    padding-top: 5px;
  }


  .about-last {
    width: 100%;
    min-height: 400px;
    max-height: 500px;
    padding: 10px;
  }
  .about-last-text {
    width: 100%;
  }
  .about-sc .divider2 {
    margin-bottom: 30px !important;
  }
  .about-last h2 {

  }
  .about-last p {
    padding: 0;
    font-size: 1em;
  }
}


/* UNTUK SELECTED PROJECT */
@media only screen and (max-width: 780px) {
  .sp-wrapper li {
    height: 25px;
  }
  .sp-tab,.sp-tab-first, .sp-tab-last h2{
    font-size: 1em;
  }
  .sp-tab, .sp-tab-first, .sp-tab-last p {
    font-size: .8em;
  }
}

@media only screen and (max-width: 415px) and (min-width: 255px) {
  .sp-tab,.sp-tab-first, .sp-tab-last {
    width: 100%;
  }
}
@media only screen and (max-width: 560px) and (min-width: 415px) {
  .sp-tab,.sp-tab-first, .sp-tab-last {
    width: 45%;
    float:left;
  }
}


@media only screen and (max-width:1450px) and (min-width:1100px) {
  ._wrapper {
    height: auto !important;
  }
  .about {
    margin: 3px 0 0 0;
    padding: 0;
    width: 50%;
    float: left;
    background: #b89f86;
  }
  .rows {
    width: 100%;
    height: auto;
    background: #b89f86;
  }
  .about p, .about h3 {
    font-family: 'Century Gothic', sans-serif;
    padding: 50px 25px;
    color: #fff;
    font-size: .9em;
  }
  .about span {
    font-size: 1.1em;
  }
  .video {
    size: contain;
    float: left;
    width: 50%;
  }

}
