@font-face {
  font-family: 'Futura';
  src: url('fonts/FuturaLT.ttf') format('truetype');
}
@font-face {
  font-family: 'Century Gothic';
  src: url('fonts/centurygothic.ttf') format('truetype');
}
@font-face {
  font-family: 'Futura';
  src: url('FuturaLT-Bold.ttf') format('truetype');
}

* {
  margin: 0;
  padding: 0;
  max-width: 100%;
  font-family:'Futura', sans-serif;
}

.divider {
  height: 5px;
  width: 5%;
  background-color: #18454B;
  margin: 0 0 35px 0;
}
.divider2 {
  height: 5px;
  width: 5%;
  background-color: #d3d7ab;
  margin-bottom: 50px;
}

/* NAVBAR */
.right-navbar {
  font-size: 1.1em;
  color: #fff;
}
.right-navbar a{
  color: #fff;
  text-decoration: none;
}
.right-navbar a:hover {
  color: rgba(134, 160, 139, 0.9);
}
.right-navbar .navbar-r-list {
  padding: 0 5px;
}

/* INTRO */
.intro {
  height: 550px;
  color: #fff;
  background: url('images/background.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  margin-bottom: -3px;
}
.intro-wrapper {
  width: 100%;
  max-height: 100px;
}
#head-text {
  width : 100%;
}
#head-text img {
  width: 10%;
}
.intro h1 {
  font-size: 2.2em;
  color: #fff;
}
.intro h4 {
  font-family: 'Century Gothic', monospace;
  font-size: 1em;
  text-transform: uppercase;
}


/* ABOUT */
.about {
  height: auto;
  margin: 3px 0 0 0;
  padding: 0;
  width: 50%;
  float: left;
  background: #b89f86;
}
.rows {
  width: 100%;
  height: auto;
  background: #b89f86;
}
.about p, .about h3 {
  font-family: 'Century Gothic', sans-serif;
  padding: 80px 50px;
  color: #fff;
}
.about span {
  font-size: 1.3em;
}
.video {
  size: contain;
  float: left;
  width: 50%;
}



.about-sc {
  width: 100%;
  height: auto;
  margin: 30px auto;
}
.about-sc h2 {
  font-family: 'Futura', sans-serif;
  padding-top: 50px;
  font-weight: 600;
}
.about-sc p {
  font-family: 'Century Gothic', sans-serif;
}
.about-sc i {
  font-size: 5em;
  color: #18454B;
}
.about-sc img {
  width: 35%;
}
.about-sc strong {
  padding-top: 20px;
  display: inline-block;
  height: 90px;
  font-size:1.3em;
}

/* filling the gap */
.about-last {
  width: 100%;
  height: 320px;
  background: #67646A;
  color: white;
  padding-top: 60px;
}
.about-last-text {
  width: 70%;
  margin: 0 auto;
}
.about-last h2 {
  font-family: 'Futura', sans-serif;
  font-weight: 600;
}
.about-last p {
  font-family: 'Century Gothic', sans-serif;
}

/* img filling the gap */
.gallery {
  width: 100%;
  height: 500px;
  margin: 0 auto;
}
.left-gallery {
  width: 25%;
  float: left;
}
.left-gallery img {
  width: 100%;
  height: 250px;
}
.mid {
  width: 50%;
  float: left;
}
.mid img {
  width: 100%;
  height: 500px;
}
.right-gallery {
  width: 25%;
  float: left;
}
.right-gallery img {
  width: 100%;
  height: 250px;
}
/*.gallery img {
  width: 25%;
  float:left;
}*/
/*.gallery .big {
  width: 50%;
}*/
.carousel {
  background: transparent;
  margin: 0;
  width: 100%;
}


/* brighten selected image */
.carousel-cell.is-selected img {
  opacity: 1;
  -webkit-transform: scale(1);
          transform: scale(1);
  -webkit-filter: none;
          filter: none;
}

@media screen and ( min-width: 768px ) {
  .carousel-cell {
    height: 400px;
  }
}

@media screen and ( min-width: 960px ) {
  .carousel-cell {
    width: 60%;
  }
}


/* TEAM */
#team {
  width: 100%;
  height: auto;
  margin: 80px auto 100px auto;
}
.team {
  width: 100%;
}
.team h2 {
  font-family: 'Futura', sans-serif;
}
.teams .row {
  margin-top: 25px;
}
.teams {
  width: 75%;
  margin: 0 auto;
}
.teams img {
  border-top-left-radius: 10px;
  border-bottom-right-radius: 10px;
  transition: all .3s ease;
}
.teams img:hover {
  box-shadow: 3px 3px 5px rgba(0,0,0,.3);
}
.teams .name {
  font-size: 1.5em;
  font-weight: 600;
}
.teams .pos {
  font-size: 1.2em;
  color: #5D715E;
}
.teams p {
  padding-top: 5px;
  font-family: 'Century Gothic', sans-serif;
}



/* SELETED PROJECT tab */




/* SERVICES */
#services {

}
.service {
  padding: 70px auto;
  text-align: center;
  font-family: 'Century Gothic', sans-serif !important;
}
.service img {
  margin: 20px auto 5px auto;
  width: 20%;
}
.service strong {
  font-family: 'Futura', sans-serif;
  font-size: 1em;
}
.service p {
  font-family: 'Century Gothic', sans-serif;
  color: rgba(0, 0, 0, 0.6);
  font-size: .9em;
}
.service li {
  text-align: left;
  margin: 0 20px;
  color: rgba(0, 0, 0, 0.7);
  font-family: 'Century Gothic', sans-serif !important;
}
.slider {
  margin: 50px auto;
}



footer {
  width: 100%;
  height: 300px;
  background-color: #18454B;
}
.footer-wrapper {
  width: 65%;
}
.footer {
  margin: 75px auto 0 auto;
}
footer span.address {
  color: #fff;
}
footer a#web {
  color: #939063;
}
footer a#web:hover {
  color:#fff;
}
footer a {
  color: white;
}
footer a:hover {
  color: #939063;
  text-decoration: none;
}
